.icons {
  color: grey;
}
.mat-tab-group {
  margin-bottom: 48px;
}
.chat-content {
  font-size: 4px;
  max-height: 5px;
  overflow: hidden;
  text-overflow: clip;
  font-style: oblique;
  cursor: pointer;
}
.chat-sender {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
.msg-time{
  font-size: normal;
  float:right;

}
