/* Add application styles & imports to this file! */
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background-color: whitesmoke;
  border-radius: 5px;
  height: 50px;
}
img {
  border-radius: 20px;
}
.conatiner{
  margin-top: 10px;
}